<div class="row">
    <h4 class="frame-title">{{msg('instance-info.web.title')}}</h4>
    <div class="inside">

        <div class="alert alert-danger alert-block" ng-show="templates.length <= 0">
            {{msg('instance-info.web.templates.noTemplateError')}}
        </div>
        <div ng-show="errors.length > 0">
            <div class="alert alert-error alert-block" ng-repeat="error in errors" ng-cloak>
                {{error}}
            </div>
        </div>
        <div ng-repeat="message in messages" class="alert alert-success alert-block animate-repeat">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{message}}
        </div>

        <div class="alert alert-info">
            This instance's name is <bold>{{name}}</bold>.
        </div>

    </div>
</div>
